div.image{
float:left;  
 width: 500px;
 height: 400px; 
}

.login-welcome{
    text-align: center;
}

div.logint{
    margin: 0 0 20px 0;
    padding:0px;
    text-align: center;
}

div.container{
    text-align:center;
    right: 10px;
}

input{
    width:50%;
}

input[type="text"]{
    width: 50%;
    padding:12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    right: 10px;
}

input[type="Password"]{
    width: 50%;
    padding:12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    right: 10px;
    display: inline-block;
}

div.button{
    text-align:center;
}

button.loginb{
    background-color:blue;
    color:white;
    border-radius: 5px;
    width:150px;
}

img.avatar{
    width:100px;
    height: 100px;
}